[Unit]
Description=Collect new cron output every 20 seconds

[Timer]
OnBootSec=30s
OnUnitInactiveSec=20s
AccuracySec=1s

[Install]
WantedBy=timers.target
